<html>
  <head>

  </head>
  <body>
    <table border="2" cellpadding="30">
     

      <tbody>
        <tr>
          <th>
            <div>
              <ul>
                <li><a href="home.html">Home</a></li> 
                <li><a href="books.html">Book list</a></li>

              </ul>
            </div>
          </th>
          <td>
            <p>&nbsp;<img src="narnia.png" alt="Narnia" width="400" height="400" align="left"/><h2><b>Narnia The Lion The With And The Wardrobe</b></h2><p>The Chronicles of Narnia: The Lion, the Witch and the Wardrobe is a 2005 fantasy film co-written and directed by Andrew Adamson, based on the 1950 novel The Lion, the Witch and the Wardrobe, the first published and second chronological novel in C. S. Lewis's children's epic fantasy series, The Chronicles of Narnia. It was co-produced by Walden Media and Walt Disney Pictures and distributed by Buena Vista Pictures. William Moseley, Anna Popplewell, Skandar Keynes and Georgie Henley play Peter, Susan, Edmund, and Lucy, four British children evacuated during the Blitz to the countryside, who find a wardrobe that leads to the fantasy world of Narnia. There they ally with the lion Aslan (voiced by Liam Neeson) against the forces of Jadis, the White Witch (Tilda Swinton).</p> 

            </td>
        </tr>
      </tbody>

    </table>

</body>
</html>