<html>
  <head>
    <title>Book Page</title>
  </head>
  <body>
    <table border="2" cellpadding="30">
     

      <tbody>
        <tr>
          <th>
            <div>
              <ul>
                <li><a href="home.html">Home</a></li> 
                <li><a href="books.html">Book list</a></li>
              </ul>
            </div>
          </th>
          <td>
            <p>&nbsp;<a href="book1.html"><img src="dunebook.png" alt="Dune" width="100" height="100" align="left"/></a><a href="book1.html"><b>Dune</b></a>
                <br /><br /><br /><br /><br />
            <p>&nbsp;<a href="book2.html"><img src="Game_of_thrones.png" alt="Game of Thrones" width="100" height="100" align="left"/></a><a href="book2.html"><b>A Game of Thrones</b></a>
                <br /><br /><br /><br /><br />
            <p>&nbsp;<a href="book3.html"><img src="narnia.png" alt="Narnia" width="100" height="100" align="left"/></a><a href="book3.html"><b>Narnia The Lion The With And The Wardrobe</b></a>
            </td>
        </tr>
      </tbody>

    </table>

</body>
</html>