<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <table border='2' cellpadding="30">
     

      <tbody>
        <tr>
          <th>
            <div>
              <ul>
                <li><a href="home.html">Home</a></li> 
                <li><a href="books.html">Book list</a></li>
              </ul>
            </div>
          </th>
          <td>
            <h1> &nbsp; &nbsp; &nbsp; &nbsp; Welcome to Mobasery Library!</h1>
            &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;<img src="library.png" alt="library" width="300" height="300" align="center">
            <p>&nbsp; &nbsp; &nbsp; &nbsp;To navigate through the website, please click on any of the pages on the left</p>
          </td>
        </tr>
      </tbody>

    </table>

</body>
</html>